/*---------------------------------------------------------------------------General */

.container-fluid{
    padding: 0;
}

/*---------------------------------------------------------------------------Background */


.container-background{
    height: 100vh;
    background: url("../images/background/body_wooldse_veen.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: auto;
    z-index: -2;
}

.container-opaque-overlay{
    height: 100vh;
    background: url("../images/background/light-mesh.png");
    position: fixed;
    overflow: auto;
    z-index: -1;
}

/*---------------------------------------------------------------------------Navbar */

.navbar{
    padding: 12px;
}

.navbar-logo{
    text-align: center;
}

.navbar-logo h1{
    font-size: 25px;
}

.navbar-logo h3{
    font-size: 15px;
}