/*---------------------------------------------------------------------------General */

.container-fluid{
    padding: 0;
}


/*---------------------------------------------------------------------------Background */

.container-background{
    height: 100vh;
    background: url("../images/background/body_wooldse_veen.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: fixed;
    overflow: auto;
    z-index: -2;
}

.container-opaque-overlay{
    height: 100vh;
    background: url("../images/background/light-mesh.png");
    position: fixed;
    overflow: auto;
    z-index: -1;
}


/*---------------------------------------------------------------------------Navbar */

.navbar{
    padding: 12px;
}

.navbar-logo h1{
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 246, 231);
    margin: 0;
}

.navbar-logo h6{
    margin: 0;
    color: rgb(255, 246, 231);
}


/*---------------------------------------------------------------------------Navigation menu left */

.container-menu-left{
    margin-left: 48px;
    height: 100%;
    width: 240px;
    box-sizing: border-box;
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.60);
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.75);
    z-index: 44;
    transform: translate3d(0,0,0);
}

.container-inside-left{
    color: rgb(255, 246, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-logo{
    height: 15vh;    
    padding-top: 2.5vh;
}

.logo h1{
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center top;
}

.menu-line1{
    margin: 0px 48px;
    border-top: 1px solid;
    border-color: rgb(255, 246, 231);
    height: 12.5vh;
    
}

.container-navleft{
    height: 40vh;
    padding-left: 2rem;    
}

.nav-link{
    padding: 0;
    color: rgb(255, 246, 231);
} 

.nav-item-left{
margin: 3vh 0;
}

.menu-line2{
    margin: 0px 48px;
    border-bottom: 1px solid;
    border-color: rgb(255, 246, 231);
    height: 17.5vh;
}

.container-footer{
    height: 15vh;
    padding-top: 5vh;
}


/*---------------------------------------------------------------------------Home / Callout */

.container-callout{
padding: 25% 0;
position: relative;
margin: 0;
text-align: center;    
}

.text-callout{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-callout h1{
    margin-bottom: 30px;
}

.big-text{
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(250, 207, 132);
}

.first-dot{
    color: rgb(132, 250, 132);
}

.second-dot{
    color: rgb(132, 187, 250);
}

.third-dot{
    color: rgb(250, 132, 234);
}


/*---------------------------------------------------------------------------Media Queries */

@media (min-width: 576px) {
    
}


@media (min-width: 768px) {
.big-text{
    font-size: 3.5rem;
    }    
}


@media (min-width: 992px) {
    .container-main-right{
        margin-left: 288px;
    }
   
}


@media (min-width: 1200px) {
    
}


@media (min-width: 1400px) {
    
}
